@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box;
  } 
 
body{
    font-family:'Roboto';
} 
 
/* Navbar */
/* Showcase */
#showcase { 
    background:url('../img/im1.png') repeat center center/cover;
    color:#FFFFFF;
    height: 900px;
  }
   
   
  #navbar {
      display: flex;
      position:relative;
      background-color: #0F1110;
      left:0;
      background: none;
      top:51px;
      padding-top: 51px;
      height: 60px;
      color:#ffffff;
      justify-content: space-between;
      z-index: 1;
      padding: 2rem;
     
  }
   
  #navbar ul {
      display: flex;
      align-items: center;
      list-style: none;
    }
  #navbar .search-box a,
  #navbar ul li a {
      color:#ffffff;;
      padding: 0.75rem;
      margin: 0 0.25rem;
      opacity: 0.7;
    }
 
.search-box {
    position: relative;
} 
 
.searchText {
    width:0;
    border-radius:5rem;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
 
.searchText:focus {
    outline: none;
}
 
.searchBtn {
    width:5rem;
    height:5rem;
    color:#ffffff;
}
 
.search-box:hover > .searchText {
    width:10rem;
    padding:0.5rem;
}
 
 
 
    
#navbar .search-box a:hover,  
#navbar ul li a:hover {
      color:  #70C919;
    }
   
   
  #navbar .logo img {
  margin-left: 2rem;
  width: 121px;
  height: 35px;
  left: 60px;
  top: 100px;
  } 
 
  /* #navbar ul li .active{
    color:  #70C919;
  } */
   
   
    #showcase .showcase-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 900px;
      padding: 0.2rem;
      /* Overlay */
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0px;
      background-color: rgba(0,0,0,0.6);
    }
    
    .l-heading {
      font-size: 82px;
      margin-bottom: 0.75rem;
      line-height: 96px;
      letter-spacing: 0px;
    }
   
   
    .lead {
      font-size: 20px;
      margin-bottom: 2rem;
      font-weight: 400;
      opacity: 0.7;
      line-height: 28px;
      letter-spacing: 0px;
    }
   
   
    .btn {
        color: #FFFFFF;
        background: #27AD6C;
        border: none;
        height: 67px;
        width: 192px;
        border-radius: 4px;
    
    }
   
    .apply {
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: normal;
      }
 
  .btn:hover {
      background: #798170;
    }
 
   
   
    .text-center {
      text-align:center;
      padding-top: 1rem;
    }
 
    
    #showcase .showcase-content .btn img {
        margin-top: 10px;
        margin-left: 8px;
    }


  



/* What you should have */


.py-1 {
  padding: 7rem; 
 }
  
 #what h2 {
 color: #9B9B9B;
 z-index: 1;
 margin-bottom: 4rem;
 font-weight: normal;
 font-size: 48px;
 line-height: 48px;
 }
  
  
  
 #what .items {
     display: flex;
     padding: 2rem;
   }

   #what .items img {
    height: 196px;
    width: 300px;
  }
  
  
   #what .items .item {
     flex: 0.2rem;
     text-align: center;
     padding: 0rem;
   }
  
   
  
 .text-center {
     text-align:center;
   }
   
  
 #what .item h3 {
 color: #27AD6C;
 font-size: 18px;
 line-height: 24px;
 padding-top: 2rem;
 }
  
 #what .item p {
     
 color: #4A4A4A;
 font-size: 14px;
 line-height: 22px;
 mix-blend-mode: normal;
 opacity: 0.78;
 }
  
   

  /* Timeline section */

  .container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
 
.container_left,
.container_right {
 
    height: 400px;
    margin: 25px;
}
 
.container_middle {
    width: 1px;
    height: 380px;
    background: #88C542;
    margin: 20px;
}
 
.container_left h1,
.container_right h1 {
  font-size: 48px;
  line-height: 56px;
  color: #9B9B9B;
  margin-bottom: 2rem;
 
}
 
.container_left h1,
.container_right h1 
 
.resource {
    display: flex;
    align-items: center;
}
 
.resource img {
    height: 20px;
    width: 20px;
} 
 
.container_left p{
  margin:2rem 0;
  color: #27AD6C;
}
 
.container_right p {
  margin:1.55rem 0;
  color: #27AD6C;
}
 
.container_left hr,
.container_right hr {
  height: 1px;
  width:480px;
  opacity: 0.2;
  margin:10px 0px; 
}
 
.container_left p img {
margin-right:0.2rem;
}
 
.container_right span {
  color: #9B9B9B;
  opacity: 0.5;
}

/* hr line section */

.hrline{
    padding: 100px;
    overflow: hidden;
}

.lines{
    width: 100%;
    height: 45px;
    position: relative;
}

.lines::after, .lines::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    background: #88C542;
    width: 10%;
    top: 45%;
}

.lines::after{
    left: 420px; 

}

.lines::before{
    right: 420px;

}

.midimg img{
    width: 49.75px;
    height: 47.96px;
    margin-left: 550px;
}
   
   /* SOME RANDOM PHOTOS */
 
   .photos h1{
    text-align: center;
    margin-top: 50px;
    font-family:' Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    color: #9B9B9B;
    }
 
 
   .photos p{
        text-align: center;
        color: #9B9B9B;
        font-family:'Roboto';
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 1.5rem;
    }
 
 
    .flex-container {
        display: flex;
        justify-content: center;
        width: 1440x;
        margin: 0;
    }
 
    .flex-img-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%
    }
    
    .flex-img-container > img {
        width: 33.33%;
        margin:0;
    }


    /*  What we provide section */

    #service {
        width: 100%;
        background: #423633;
        height: 1080px;
        overflow:hidden;
      }
           
      #service .text-center {
           color: #FFFFFF;
           /* margin-bottom: 4rem; */
           font-weight: normal;
           font-size: 48px;
           line-height: 48px;
           padding-top: 90px;
           }
       
      #service h3 {
        color: #FFFFFF;
      }
           
           
           
       #service .items {
               display: flex;
               flex-wrap: wrap; 
               margin-left:6rem ;
            
              
             
          }
           
           
      #service .items .item {
              width: 300px;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: left;
              margin: 3rem;
       
             }
           
             
           
      #service .item h3 {
           color: #FFFFFF;
           font-size: 18px;
           line-height: 24px;
           padding-top: 2rem;
           }
           
      #service .item p {
           color:  #FFFFFF;
           font-size: 16px;
           line-height: 24px;
           mix-blend-mode: normal;
           opacity: 0.5;
           padding-top: 6px;
           letter-spacing: -0.35px;
      }
       
      #service .item_img img, #service .item img {
             object-fit: contain;
             width: 42px;
             height: 50px;
             margin-right: 5px;
             margin-left: 5px;
           }

           /* for btn */

           #service  button{
            color: #FFFFFF;
            background: #27AD6C;
            box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.9);
            border: none;
            height: 67px;
            width: 192px;
            border-radius: 4px;
            text-transform: uppercase;
            margin-left: 600px;
            margin-top: 90px;
            font-size: 16px;
          }

          .btn {
            color: #FFFFFF;
            background: #27AD6C;
            border: none;
            height: 67px;
            width: 192px;
            border-radius: 4px;
        
        }
       
     

          #service  button:hover{
            background: #798170;
          }


        #service button img{
            margin-left: 10px;
            margin-top: 5px;
        }
           
    /*for ninja */
    #service  label img{
        margin: 50px 0 20px 620px;
        padding: 40px;
    } 
      

    /* Footer section */
    footer{
        display: flex;
        justify-content: space-between;
        background-color: #333333;
        align-items: center;
        padding: 30px 5%;
    }

    footer p,li,a{
        font-family: 'Roboto';
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    footer .nav_links{
        list-style: none;
        margin-left: 15px;
        text-transform: uppercase;
    }

    footer .nav_links li{
        display: inline-block;
        padding: 0px 20px; 
        text-transform: uppercase;
    }

    footer .nav_links li a:hover{
        color: #70C919; ;
    }


  